{% extends 'imobiliare/main.html' %}
{% load static %}
{% block content%}
<section>
    <h1 class="section-title">{{announce.title}}</h1>
    <div class="single-card">
        <div class="card">
            <img src="{{announce.image}}" alt="{{announce.title}}" />
            <div class="item-content">
                <div>
                    <p><strong>{{announce.description}}</strong></p><br>
                    <p>Etajul: <strong>{{announce.floor}}</strong> </p>
                    <p>Judetul: <strong>{{announce.county}}</strong> </p>
                    <p>Localitatea: <strong>{{announce.location}}</strong></p>
                    <p>Data publicarii: <strong>{{announce.publish_date}}</strong></p>
                    <p>Nr. Telefon: <strong>{{announce.phone_number}}</strong></p>
                    <h3 class="price">
                        Pretul: {{announce.price}} €
                    </h3>
                </div>
                {% if request.user == announce.creator or request.user.is_superuser %}
                <div class="card-actions">
                    <a class="button" href="{% url 'update_announce' announce.id %}">Edit</a>
                    <a class="button" href="{% url 'delete_announce' announce.id %}">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}