{% extends 'imobiliare/main.html' %}
{% load static %}
{% block content %}
<section>
  <h1 class="section-title">Intrare in cont</h1>
  <form class="login-form card">
    <input placeholder="E-mail" type="email" required>
    <input placeholder="Parola" type="password" required class="margin-top">
    <button class="margin-top"> Intra </button>
  </form>
</section>
<section>
  <h1 class="section-title"> Creare cont nou</h1>
  <form class="login-form card">
    <input placeholder="E-mail" type="email" required>
    <input placeholder="Parola Noua" type="password" required class="margin-top">
    <input placeholder="Confirmare Parola" type="password" required class="margin-top">
    <button class="margin-top"> Creare </button>
  </form>
</section>

{% endblock content %}